Repository quicksilver-zone/quicksilver, pull requests merged in 2023-03, with the labels that each got.

#326 fix: workflow `go` version
  .github/workflows/buildtest.yaml
  .github/workflows/docker.yaml
  .github/workflows/golangci.yml
Labels: bug

#322 test: `x/mint/types`
  x/mint/genesis.go
  x/mint/module.go
  x/mint/types/genesis.go
  x/mint/types/genesis_test.go
  x/mint/types/minter.go
  x/mint/types/minter_test.go
  x/mint/types/params.go
  x/mint/types/params_test.go
Labels: testing

#325 chore: update `README.md`
  README.md
Labels: documentation

#329 fix: ci
  .github/CODEOWNERS
  .github/workflows/buildtest.yaml
  .github/workflows/docker.yaml
  .github/workflows/golangci.yml
  Dockerfile
  Makefile
  app/ante.go
  server/config/config.go
  wasmbinding/message_plugin.go
  wasmbinding/query_plugin.go
  x/airdrop/handler.go
  x/airdrop/types/errors.go
  x/claimsmanager/handler.go
  x/claimsmanager/types/errors.go
  x/epochs/handler.go
  x/interchainquery/handler.go
  x/interchainstaking/handler.go
  x/interchainstaking/keeper/callbacks.go
  x/interchainstaking/keeper/receipt.go
  x/participationrewards/handler.go
  x/participationrewards/types/errors.go
  x/tokenfactory/types/denoms.go
  x/tokenfactory/types/errors.go
  x/tokenfactory/types/genesis.go
  x/tokenfactory/types/msgs.go
Labels: ci

#324 test: `x/interchainstaking/types`
  x/interchainstaking/keeper/receipt.go
  x/interchainstaking/types/delegation_test.go
  x/interchainstaking/types/genesis.go
  x/interchainstaking/types/keys.go
  x/interchainstaking/types/keys_test.go
  x/interchainstaking/types/params.go
  x/interchainstaking/types/params_test.go
  x/interchainstaking/types/proposals.go
  x/interchainstaking/types/proposals_test.go
  x/interchainstaking/types/receipt.go
  x/interchainstaking/types/receipt_test.go
  x/interchainstaking/types/validator.go
  x/interchainstaking/types/validator_test.go
  x/interchainstaking/types/zones.go
  x/interchainstaking/types/zones_test.go
Labels: testing

#317 docs: fix mint spec
  x/mint/README.md
  x/mint/spec/01_concepts.md
  x/mint/spec/02_state.md
  x/mint/spec/03_end_epoch.md
  x/mint/spec/04_params.md
  x/mint/spec/05_events.md
  x/mint/spec/README.md
Labels: docs

#321 refactor: memo parsing logic in `ibc_packet_handlers.go`
  x/interchainstaking/keeper/ibc_packet_handlers.go
  x/interchainstaking/types/ibc_packet.go
  x/interchainstaking/types/ibc_packet_test.go
Labels: testing, refactor

#314 feat: add simulations part 1
  .github/workflows/simulation.yml
  Makefile
  app/app.go
  app/app_test.go
  app/config.go
  app/export.go
  app/genesis.go
  app/modules.go
  app/sim_test.go
  app/test_helpers.go
  app/upgrades_test.go
  osmosis-types/gamm/pool-models/balancer/amm.go
  osmosis-types/lockup/query.pb.gw.go
  simulation/config.go
  simulation/helpers.go
  simulation/sim_test.go
  simulation/simtypes/account.go
  simulation/simtypes/expected_keepers.go
  simulation/simtypes/rand.go
  simulation/state.go
  wasmbinding/test/store_run_test.go
  x/airdrop/module.go
  x/claimsmanager/module.go
  x/epochs/module.go
  x/interchainquery/module.go
  x/interchainstaking/keeper/ibc_packet_handlers_test.go
  x/interchainstaking/keeper/zones_test.go
  x/interchainstaking/module.go
  x/mint/module.go
  x/mint/simulation/decoder.go
  x/mint/simulation/decoder_test.go
  x/mint/simulation/genesis.go
  x/mint/types/params_test.go
  x/participationrewards/genesis_test.go
  x/participationrewards/module.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/module.go
Labels: testing, run-sim

#342 fix: local claim validation
  cmd/quicksilverd/forceprune.go
  go.mod
  go.sum
  utils/coins.go
  utils/coins_test.go
  x/claimsmanager/keeper/keeper.go
  x/interchainstaking/keeper/callbacks_test.go
  x/interchainstaking/types/delegation_test.go
  x/interchainstaking/types/proposals_test.go
  x/interchainstaking/types/validator_test.go
  x/interchainstaking/types/zones_test.go
  x/participationrewards/keeper/callbacks_test.go
  x/participationrewards/keeper/msg_server_test.go
  x/participationrewards/keeper/submodule_liquid.go
Labels: module: claimsmanager

#350 release: 1.2.5
  CHANGELOG.md
  app/upgrades.go
  app/upgrades_test.go
  go.mod
  proto/quicksilver/interchainstaking/v1/messages.proto
  proto/quicksilver/interchainstaking/v1/proposals.proto
  x/interchainstaking/client/cli/tx.go
  x/interchainstaking/keeper/abci.go
  x/interchainstaking/keeper/keeper.go
  x/interchainstaking/keeper/msg_server.go
  x/interchainstaking/types/codec.go
  x/interchainstaking/types/events.go
  x/interchainstaking/types/messages.pb.go
  x/interchainstaking/types/messages.pb.gw.go
  x/interchainstaking/types/msgs.go
  x/interchainstaking/types/proposals.pb.go
Labels: impact: mainnet

#346 test: add `e2e` testing framework
  .github/workflows/buildtest.yaml
  .github/workflows/e2e.yml
  .github/workflows/simulation.yml
  Dockerfile
  Makefile
  README.md
  cmd/config/config.go
  cmd/quicksilverd/main.go
  go.mod
  go.sum
  test/e2e/README.md
  test/e2e/configurer/base.go
  test/e2e/configurer/chain/chain.go
  test/e2e/configurer/chain/commands.go
  test/e2e/configurer/chain/node.go
  test/e2e/configurer/chain/queries.go
  test/e2e/configurer/config/const.go
  test/e2e/configurer/current.go
  test/e2e/configurer/factory.go
  test/e2e/configurer/setup.go
  test/e2e/configurer/upgrade.go
  test/e2e/containers/config.go
  test/e2e/containers/containers.go
  test/e2e/e2e.Dockerfile
  test/e2e/e2e_setup_test.go
  test/e2e/e2e_test.go
  test/e2e/initialization/README.md
  test/e2e/initialization/chain.go
  test/e2e/initialization/chain/main.go
  test/e2e/initialization/config.go
  test/e2e/initialization/export.go
  test/e2e/initialization/init.Dockerfile
  test/e2e/initialization/init.go
  test/e2e/initialization/init_test.go
  test/e2e/initialization/node.go
  test/e2e/initialization/node/main.go
  test/e2e/initialization/util.go
  test/e2e/scripts/bytecode/large.wasm
  test/e2e/scripts/hermes_bootstrap.sh
  test/e2e/scripts/run/check_image_sha.sh
  test/e2e/scripts/run/common.sh
  test/e2e/scripts/run/remove_stale_resources.sh
  test/e2e/util/codec.go
  test/e2e/util/io.go
  test/simulation/config.go
  test/simulation/helpers.go
  test/simulation/sim_test.go
  test/simulation/simtypes/account.go
  test/simulation/simtypes/expected_keepers.go
  test/simulation/simtypes/rand.go
  test/simulation/state.go
  tools/tools.go
  x/epochs/types/genesis.go
  x/interchainstaking/types/accounts_test.go
  x/tokenfactory/keeper/msg_server_test.go
  x/tokenfactory/types/msgs_test.go
Labels: enhancement, testing

#353 chore: add issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/release-tracker.md
  .github/RELEASES.md
Labels: enhancement, docs

#320 feat: `x/tokenfactory` sim
  .github/workflows/simulation.yml
  app/app.go
  app/upgrades_test.go
  osmosis-types/gamm/pool-models/internal/cfmm_common/lp.go
  test/simulation/simtypes/expected_keepers.go
  x/epochs/simulation/genesis.go
  x/tokenfactory/keeper/keeper.go
  x/tokenfactory/module.go
  x/tokenfactory/simulation/genesis.go
  x/tokenfactory/simulation/operations.go
  x/tokenfactory/types/expected_keepers.go
  x/tokenfactory/types/genesis.go
  x/tokenfactory/types/params.go
Labels: testing, run-sim

#355 test: e2e environment additions
  client/docs/statik/statik.go
  test/e2e/configurer/base.go
  test/e2e/configurer/chain/chain.go
  test/e2e/configurer/chain/node.go
  test/e2e/configurer/config/const.go
  test/e2e/configurer/factory.go
  test/e2e/configurer/setup.go
  test/e2e/containers/config.go
  test/e2e/containers/containers.go
  test/e2e/e2e_test.go
  test/e2e/scripts/icq_bootstrap.sh
  test/e2e/scripts/xcc_bootstrap.sh
  x/interchainstaking/types/proposals_test.go
Labels: testing

#334 chore: workflow improvements
  .github/workflows/buildtest.yaml
  .github/workflows/md-link-checker-config.json
  .github/workflows/md-link-checker.yml
  .github/workflows/simulation.yml
Labels: ci

#357 feat: ensure proportional distribution of prs
  Dockerfile.hermes
  Makefile
  client/docs/statik/statik.go
  docker-compose.yml
  x/claimsmanager/keeper/hooks.go
  x/claimsmanager/keeper/keeper.go
  x/epochs/types/keys.go
  x/interchainstaking/keeper/hooks.go
  x/interchainstaking/keeper/ibc_packet_handlers_test.go
  x/interchainstaking/keeper/keeper.go
  x/participationrewards/keeper/callbacks.go
  x/participationrewards/keeper/distribution.go
  x/participationrewards/keeper/hooks.go
  x/participationrewards/keeper/keeper.go
  x/participationrewards/keeper/keeper_test.go
  x/participationrewards/keeper/msg_server_test.go
  x/participationrewards/keeper/rewards_holdings.go
  x/participationrewards/keeper/rewards_holdings_test.go
  x/participationrewards/keeper/rewards_lockup.go
  x/participationrewards/keeper/rewards_validatorSelection.go
  x/participationrewards/types/expected_keepers.go
  x/participationrewards/types/participationrewards.go
Labels: module: participationrewards
