Repository quicksilver-zone/quicksilver, pull requests merged in 2023-06, with the labels that each got.

#421 test: `x/airdrop` types
  x/airdrop/types/genesis.go
  x/airdrop/types/genesis_test.go
  x/airdrop/types/msgs_test.go
  x/airdrop/types/zip_test.go
Labels: module: airdrop

#453 barberry patch fix
  .golangci.yml
  go.mod
  go.sum
Labels: frontport/develop

#464 feat: subzones part 1
  app/upgrades/upgrades.go
  app/upgrades_test.go
  architecture/adr-002-sub-zones.md 
  docs/swagger.yml
  proto/quicksilver/interchainstaking/v1/interchainstaking.proto
  proto/quicksilver/interchainstaking/v1/proposals.proto
  x/interchainquery/keeper/keeper.go
  x/interchainstaking/client/cli/tx.go
  x/interchainstaking/genesis.go
  x/interchainstaking/keeper/abci.go
  x/interchainstaking/keeper/callbacks.go
  x/interchainstaking/keeper/callbacks_test.go
  x/interchainstaking/keeper/delegation.go
  x/interchainstaking/keeper/delegation_test.go
  x/interchainstaking/keeper/grpc_query.go
  x/interchainstaking/keeper/grpc_query_test.go
  x/interchainstaking/keeper/hooks.go
  x/interchainstaking/keeper/ibc_channel_handlers.go
  x/interchainstaking/keeper/ibc_packet_handlers.go
  x/interchainstaking/keeper/ibc_packet_handlers_test.go
  x/interchainstaking/keeper/intent.go
  x/interchainstaking/keeper/intent_test.go
  x/interchainstaking/keeper/keeper.go
  x/interchainstaking/keeper/keeper_test.go
  x/interchainstaking/keeper/msg_server.go
  x/interchainstaking/keeper/proposal_handler.go
  x/interchainstaking/keeper/proposal_handler_test.go
  x/interchainstaking/keeper/receipt.go
  x/interchainstaking/keeper/receipt_test.go
  x/interchainstaking/keeper/redemptions.go
  x/interchainstaking/keeper/validator_test.go
  x/interchainstaking/keeper/validators.go
  x/interchainstaking/keeper/zones.go
  x/interchainstaking/keeper/zones_test.go
  x/interchainstaking/types/interchainstaking.pb.go
  x/interchainstaking/types/keys.go
  x/interchainstaking/types/proposals.go
  x/interchainstaking/types/proposals.pb.go
  x/interchainstaking/types/proposals_test.go
  x/interchainstaking/types/sub_zones.go
  x/interchainstaking/types/sub_zones_test.go
  x/participationrewards/keeper/distribution.go
  x/participationrewards/keeper/keeper_test.go
  x/participationrewards/keeper/msg_server.go
  x/participationrewards/keeper/rewards_holdings.go
  x/participationrewards/keeper/rewards_validatorSelection.go
Labels: module: interchainstaking, proto
