Repository quicksilver-zone/quicksilver, pull requests merged in 2023-12, with the labels that each got.

#599 test web ui
  .github/workflows/webui.yaml
Labels: webui

#873 fix: remove unused function with limited behaviour
  utils/strings.go
Labels: utils, audit, dead-code

#877 refactor so we do error checking before creating protocol data
  x/participationrewards/keeper/proposal_handler.go
Labels: module: participationrewards, audit

#874 fix: throw error if connection not found
  utils/proofs.go
Labels: utils, audit

#876 fix: throw on error and bad cast; fixes #836
  x/participationrewards/keeper/msg_server.go
Labels: module: participationrewards, audit

#872 fix: super defensive checks in ValAddressFromBech32 and AccAddressFromBech32
  utils/addressutils/address.go
Labels: utils, audit

#894 fix: refactor protocoldata unmarshalling. fixes #833
  x/participationrewards/types/protocol_data.go
Labels: module: participationrewards, audit

#975 fix: find avail for all validators, not just those with delegations
  x/interchainstaking/keeper/redemptions.go
  x/interchainstaking/keeper/redemptions_test.go
Labels: bug, module: interchainstaking, impact: testnet

#976 fix: allow chainId without hyphen. Fixes #974
  x/interchainquery/types/msgs.go
  x/participationrewards/types/protocol_data_test.go
  x/participationrewards/types/submodule_liquid.go
  x/participationrewards/types/submodule_osmosis.go
Labels: bug, module: interchainquery, module: participationrewards, impact: testnet

#978 fix: permit zero rewards in validatorselectionrewardscallback
  x/participationrewards/keeper/rewards_validatorSelection.go
  x/participationrewards/keeper/rewards_validatorSelection_test.go
Labels: bug, module: participationrewards, impact: testnet

#979 fix: ensure delegation plan respects maxCanAllocate slice
  x/interchainstaking/keeper/delegation_test.go
  x/interchainstaking/types/allocation_test.go
  x/interchainstaking/types/delegation.go
Labels: bug, module: interchainstaking

#982 Fix/981 max can allocate cannot be negative
  x/interchainstaking/keeper/delegation.go
  x/interchainstaking/keeper/delegation_test.go
  x/interchainstaking/types/delegation.go
Labels: bug, module: interchainstaking, impact: testnet
