Repository quicksilver-zone/quicksilver, pull requests merged in 2024-06, with the labels that each got.

#1642 support mapped accounts in claims
  x/participationrewards/keeper/submodule_liquid.go
  x/participationrewards/keeper/submodule_osmosis.go
  x/participationrewards/keeper/submodule_osmosiscl.go
  x/participationrewards/keeper/submodule_umee.go
  x/participationrewards/types/expected_keepers.go
Labels: x/participationrewards

#1261 x/participationrewards/keeper: fuzz CalcUserValidatorSelectionAllocations
  x/participationrewards/keeper/fuzz_test.go
  x/participationrewards/keeper/testdata/fuzz-corpus-CalcUserValidatorSectionAllocations-no allocation.json
  x/participationrewards/keeper/testdata/fuzz-corpus-CalcUserValidatorSectionAllocations-unit weight intents - default validator scores - different validators.json
  x/participationrewards/keeper/testdata/fuzz-corpus-CalcUserValidatorSectionAllocations-unit weight intents - default validator scores - same valopaddress.json
  x/participationrewards/keeper/testdata/fuzz-corpus-CalcUserValidatorSectionAllocations-weighted intents - default validator scores - same validators.json
  x/participationrewards/keeper/testdata/fuzz-corpus-CalcUserValidatorSectionAllocations-zero weight intents, no user allocation.json
Labels: x/participationrewards, Stale

#1639 airdrop: export duplicative errors
  x/airdrop/keeper/claim_handler.go
  x/airdrop/keeper/proposal_handler.go
  x/airdrop/types/airdrop.go
  x/airdrop/types/errors.go
Labels: x/airdrop

#1659 add upgrade handler for v1.5.6 to fix failed unbonding sends
  app/upgrades/types.go
  app/upgrades/upgrades.go
  app/upgrades/v1_5.go
Labels: deployed

#1654 fix: update skip / SEO
  web-ui/bun.lockb
  web-ui/components/Assets/modals/rewardsModal.tsx
  web-ui/components/Staking/modals/stakingProcessModal.tsx
  web-ui/components/wallet-button.tsx
  web-ui/hooks/useSkipExecute.ts
  web-ui/package.json
  web-ui/pages/about.tsx
  web-ui/pages/assets.tsx
  web-ui/pages/defi.tsx
  web-ui/pages/governance.tsx
  web-ui/pages/privacy-policy.tsx
  web-ui/pages/staking/[chainId]/[valoperAddress].tsx
  web-ui/pages/staking/index.tsx
  web-ui/public/img/banner.jpg
Labels: deployed

#1667 return valid json for default genesis; fixes #1666
  app/app.go
  x/interchainquery/genesis_test.go
  x/interchainquery/module.go
Labels: x/interchainquery

#1658 add auto claim authz
  app/keepers/keepers.go
  docs/swagger.yml
  go.work.sum
  proto/quicksilver/interchainstaking/v1/genesis.proto
  x/airdrop/types/messages.pb.go
  x/interchainquery/types/messages.pb.go
  x/interchainstaking/keeper/keeper.go
  x/interchainstaking/keeper/receipt.go
  x/interchainstaking/keeper/receipt_test.go
  x/interchainstaking/types/expected_keepers.go
  x/interchainstaking/types/genesis.pb.go
  x/interchainstaking/types/messages.pb.go
  x/interchainstaking/types/params.go
  x/interchainstaking/types/params_test.go
  x/interchainstaking/types/zones.go
  x/interchainstaking/types/zones_test.go
  x/participationrewards/types/messages.pb.go
Labels: x/participationrewards, x/airdrop, x/interchainquery

#1678 Finalise upgrade for v1.6.1
  app/upgrades/v1_6.go
  go.mod
  go.sum
  go.work.sum
  icq-relayer/go.mod
  icq-relayer/go.sum
  test/interchaintest/go.mod
  test/interchaintest/go.sum
  x/participationrewards/keeper/submodule_liquid.go
  x/participationrewards/keeper/submodule_osmosis.go
  x/participationrewards/keeper/submodule_osmosiscl.go
  x/participationrewards/keeper/submodule_umee.go
Labels: x/participationrewards

#1677 fix(x/airdrop/keeper): hoist out sdk.Dec from constant strings
  x/airdrop/keeper/claim_handler.go
Labels: x/airdrop
