Repository quicksilver-zone/quicksilver, pull requests merged in 2024-05, with the labels that each got.

#1591 only built icq-relayer on changes to /icq-relayer
  .github/workflows/icq-relayer-build-test.yml
Labels: deployed

#1548 claimsmanager: improve test coverage
  x/claimsmanager/keeper/claims_test.go
  x/claimsmanager/keeper/self_consensus_state_test.go
Labels: x/claimsmanager

#1593 remove unused lockup rewards logic
  x/participationrewards/keeper/rewards_lockup.go
  x/participationrewards/keeper/rewards_lockup_test.go
Labels: x/participationrewards

#1592 add support for price calc from CL pools, multiple pools, plus multi-hop
  x/participationrewards/keeper/distribution.go
  x/participationrewards/keeper/distribution_test.go
  x/participationrewards/types/protocol_data.go
Labels: x/participationrewards

#1589 bump many dependencies
  go.mod
  go.sum
Labels: deployed

#1599 Remove potential non det
  app/upgrades/v1_5.go
  app/upgrades_test.go
  x/participationrewards/keeper/distribution.go
Labels: x/participationrewards

#1619 fixup cl pool update
  x/participationrewards/keeper/callbacks.go
  x/participationrewards/keeper/callbacks_test.go
  x/participationrewards/keeper/hooks.go
  x/participationrewards/keeper/keeper.go
  x/participationrewards/keeper/msg_server.go
Labels: x/participationrewards

#1608 update: refocus all breakpoints
  web-ui/components/Assets/assetsGrid.tsx
  web-ui/components/Defi/defiBox.tsx
  web-ui/components/Governance/VotingSection.tsx
  web-ui/components/react/header.tsx
  web-ui/components/react/sideHeader.tsx
  web-ui/config/theme.ts
  web-ui/pages/_app.tsx
  web-ui/pages/assets.tsx
  web-ui/pages/defi.tsx
  web-ui/pages/governance.tsx
  web-ui/pages/staking/index.tsx
Labels: deployed

#1627 web ui/kado
  web-ui/components/Assets/modals/rewardsModal.tsx
  web-ui/components/Assets/rewardsClaim.tsx
  web-ui/components/Staking/modals/revertSharesProcessModal.tsx
  web-ui/components/Staking/stakingBox.tsx
  web-ui/components/react/buyTokensModal.tsx
  web-ui/components/react/header.tsx
  web-ui/components/react/kadoIcon.tsx
  web-ui/components/react/kadoModal.tsx
  web-ui/components/react/sideHeader.tsx
  web-ui/pages/_app.tsx
Labels: deployed

#1634 fix CL pool valid key length check
  x/participationrewards/keeper/callbacks.go
Labels: x/participationrewards
