Repository quicksilver-zone/quicksilver, pull requests merged in 2024-08, with the labels that each got.

#1681 refactor(x/participationrewards/keeper): combine GetProtocolData+UnmarshalProtocolData
  x/participationrewards/keeper/callbacks.go
  x/participationrewards/keeper/callbacks_test.go
  x/participationrewards/keeper/distribution.go
  x/participationrewards/keeper/protocol_data.go
Labels: x/participationrewards

#1700 test(x/interchainquery): directly assert AppModuleBasic.DefaultGenesis return non-nil JSON
  x/interchainquery/genesis_test.go
Labels: x/interchainquery

#1687 fix: correct default home path
  icq-relayer/cmd/root.go
  icq-relayer/cmd/run.go
Labels: Stale

#1704 Unbond recovery
  .github/workflows/golangci.yml
  Makefile
  docs/swagger.yml
  proto/quicksilver/interchainstaking/v1/interchainstaking.proto
  proto/quicksilver/interchainstaking/v1/messages.proto
  x/airdrop/types/messages.pb.go
  x/interchainquery/types/messages.pb.go
  x/interchainstaking/client/cli/tx.go
  x/interchainstaking/keeper/ibc_packet_handlers.go
  x/interchainstaking/keeper/msg_server.go
  x/interchainstaking/keeper/msg_server_test.go
  x/interchainstaking/types/codec.go
  x/interchainstaking/types/events.go
  x/interchainstaking/types/interchainstaking.pb.go
  x/interchainstaking/types/messages.pb.go
  x/interchainstaking/types/messages.pb.gw.go
  x/interchainstaking/types/msgs.go
  x/interchainstaking/types/msgs_test.go
  x/participationrewards/keeper/protocol_data.go
  x/participationrewards/types/messages.pb.go
Labels: x/participationrewards, x/airdrop, x/interchainquery, CLI
